<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MEAN App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <hr>
    <h2>MEAN App - join node js with angular</h2>
    <hr>
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
        <br>
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
        <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="name" required><br><br>
        <input type="text" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="position" required><br><br>
        <input type="text" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="office" required><br><br>
        <input type="number" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary" required><br><br>
        <button type="submit" [disabled]="!employeeForm.valid">Insert</button>
        <button type="button" (click)="resetForm(employeeForm)">Reset</button>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>position</th>
                <th>Office</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tr *ngFor="let emp of employeeService.employees">
            <td>{{emp.name}}</td>
            <td>{{emp.position}}</td>
            <td>{{emp.office}}</td>
            <td>{{emp.salary}}</td>
            <td><button (click)="onEdit(emp)">Edit</button></td>
            <td><button (click)="onDelete(emp._id, employeeForm)">Delete</button></td>
        </tr>
    </table>

</body>



</html>
